nav {
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: #293241;
    justify-content: center;
}

nav ul {
    margin: 15px;
    display: flex;
    list-style: none;
}

nav ul li img {
    width: 25px;
    height: auto;
}

nav ul li a {
    color: #E0FBFC;
    text-decoration: none;
}

nav ul li a:hover {
    transition: 1s ease;
    background-color: #98C1D9;
}
