h2.quote-mobile {
    display: none;

    margin: 25px;
    
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

h2.quote-desktop {
    display: block;
    width: 750px;
    position: absolute; 
    top: 500px;
    left: calc(50vw - 50px);
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

@media (min-width: 450px) {
    h2.quote-mobile {
        display: block;
    }

    h2.quote-desktop {
        display: none;
    }
}
