h2.quote {
    width: 750px;
    position: absolute; 
    top: 500px;
    left: calc(50vw - 50px);
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

h2.quote-mobile {
    display: none;
}

@media (max-width: 1200px) {
    h2.quote {
        left: 50vw;
        display: block;
        width: 300px;
    }
}

@media (max-width: 800px) {
    h2.quote {
        display: none;
    }

    h2.quote-mobile {
        position: relative;
        top: 55px;
        display: block;
        width: 85vw;
        font-style: italic;
        font-weight: lighter;
        text-align: center;
    }
}
